{% if section or event %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    { "@type": "ListItem", "position": 1, "name": "Главная", "item": "/" }
    {% if section %}
    ,{ "@type": "ListItem", "position": 2, "name": "Разделы", "item": "/s/" }
    ,{ "@type": "ListItem", "position": 3, "name": "{{ section.title }}" }
    {% elif event %}
    ,{ "@type": "ListItem", "position": 2, "name": "События", "item": "/e/" }
    ,{ "@type": "ListItem", "position": 3, "name": "{{ event.title }}" }
    {% endif %}
  ]
}
</script>
{% endif %}
